<ngb-carousel>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper wrap1">
      </div>
      <div class="carousel-caption">
        <label for="colid">#12345</label>
        <input type="text" id="colid" placeholder="#12345">
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper wrap2">
      </div>
      <div class="carousel-caption">
        <h3>Title Goes Here</h3>
        <p>Consectetur tortor volutpat pretium.</p>
      </div>
    </ng-template>
  </ngb-carousel>