@font-face {
    font-family: Kanit;
    font-style: normal;
    font-weight: 400;
    src: url(kanit_regular.woff2);
  }
  
  @font-face {
    font-family: Kanit;
    font-style: normal;
    font-weight: 600;
    src: url(kanit_bold.woff2);
  }