* {
  text-decoration: none;
  font-family: 'Kanit', sans-serif;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

main {
  min-height: 100vh;
  line-height: 1;
}

.head-section {
  background: linear-gradient(139.73deg, rgb(230, 253, 255) 0%, rgb(243, 239, 255) 100%);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 48px 0px;
  width: 100%;
}

.first-section {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 3rem 1.5rem;
  z-index: 10;
  -webkit-box-align: center;
}

.box1-first-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.text1-bunny {
  font-family: 'kanit', sans-serif;
  font-size: 64px;
  font-weight: 600;
  margin-bottom: 24px;
  color: rgb(118, 69, 217);
  line-height: 1.1;
}

.text2-bunny {
  font-family: 'Kanit', sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 1.5rem;
  color: rgb(81, 33, 177);
  line-height: 1.1;
}

.card-buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.btn2 {
  border-radius: 16px;
  border: 0px;
  font-family: 'Kanit', sans-serif;
  font-size: 16px;
  font-weight: 600;
  background-color: rgb(31, 199, 212);
  color: white;
  box-shadow: rgb(14 14 44 / 40%) 0px -1px 0px 0px inset;
  cursor: pointer;
  letter-spacing: 0.03em;
  line-height: 1;
  height: 48px;
  padding: 0 24px;
  opacity: 1;
  margin-right: 0.5rem;
}

.btn2:hover {
  background-color: var(--primary-light-blue);
}

.btn2:active {
  background-color: var(--primary-light-blue);
  transform: translateY(1px);
  box-shadow: none;
}

.btn3 {
  border-radius: 1rem;
  font-family: 'Kanit', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  opacity: 1;
  color: var(--primary-light-blue);
  background-color: transparent;
  letter-spacing: 0.03em;
  line-height: 1;
  width: 132px;
  height: 48px;
  border: 2px solid var(--primary-light-blue);
  box-shadow: none;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.btn3:hover {
  opacity: 0.65;
}

.btn3:active {
  transform: translateY(1px);
  box-shadow: none;
  opacity: 0.85;
}

.box2-first-section {
  display: flex;
  position: relative;
  flex-wrap: wrap;
}

.img-first {
  display: flex;
  position: relative;
  margin-bottom: 24px;
}

.bunny {
  width: 100%;
  animation-duration: 3.5s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: bunny;
}

@keyframes bunny {
  0%,
  100% {
    transform: translate(0px, 0px);
  }

  50% {
    transform: translate(-5px, -5px);
  }
}

.star1 {
  position: absolute;
  top: 0px;
  left: 0px;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: star1;
}

@keyframes star1 {
  0%,
  100% {
    opacity: 0.9;
  }

  50% {
    opacity: 0.1;
  }
}

.star2 {  
  position: absolute;
  top: 0px;
  left: 0px;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-delay: 0.66s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: star2;
}

@keyframes star2 {
  0%,
  100% {
    opacity: 0.9;
  }

  50% {
    opacity: 0.1;
  }
}

.star3 {
  position: absolute;
  max-width: 400px;
  top: 0px;
  left: 0px;
  animation-duration: 2.5s;
  animation-timing-function: ease-in-out;
  animation-delay: 0.33s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: star3;
}

@keyframes star3 {
  0%,
  100% {
    opacity: 0.9;
  }

  50% {
    opacity: 0.1;
  }
}

.card-divider {
  width: 100%;
  position: absolute;
  bottom: -3px;
  left: 0px;
  overflow: hidden;
}

.second-section {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgb(255, 255, 255) 22%, rgb(215, 202, 236) 100%);
  padding-top: 28px;
  padding-bottom: 28px;
}

.purple-bunny {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: column;
  margin: 1.5rem;
}

.sc-bdnxRM-kuvh {
  align-self: center;
  margin-bottom: 24px;
}

.text-purple-bunny {
  display: flex;
  flex-direction: column;
}

.text-section2 > h2 {
  color: rgb(40, 13, 95);
  font-family: 'Kanit', sans-serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 1.1;
  text-align: center;
}

.second-h2 {
  margin-bottom: 32px;
}

/*.subtitle {
  color: rgb(122, 110, 170);
  font-family: 'Kanit', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
}*/

.sub1 {
  font-family: 'Kanit', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  color: rgb(122, 110, 170);
}

.sub2 {
  font-family: 'Kanit', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 20px;
  text-align: center;
  display: inline;
  color: rgb(122, 110, 170);
}

.sub3 {
  font-family: 'Kanit', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 32px;
  text-align: center;
  color: rgb(122, 110, 170);
}

/*.text-purple-bunny:nth-child(3) {
  margin-bottom: 2rem;
}

.text-purple-bunny > p:nth-child(6) {
  margin-top: 1.25rem;
  margin-bottom: 2rem;
  font-weight: 600;
}*/

.card-set {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.shadows {
  height: fit-content;
  padding: 1px 1px 4px;
  box-sizing: border-box;
  margin-right: 16px;
  margin-bottom: 0px;
  background: rgb(231, 227, 235);
  border-radius: 1.5rem;
  color: rgb(40, 13, 95);
  overflow: hidden;
}

.set-container {
  display: flex;
  flex-flow: column nowrap;
  border-radius: 1.5rem;
  padding: 24px;
  background-color: white;
}

.dubkGi{
  fill: rgb(122, 110, 170);
}

.ACFFk{
  fill: rgb(31, 199, 212);
}

.kyGFY {
  fill: rgb(237, 75, 158);
}

.cards-icon {
  align-self: flex-end;
}

.set-text {
  margin-top: 1.5rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  min-height: 168px;
  min-width: 232px;
}

.set-text-h3 {
  color:rgb(40, 13, 95);
  font-size: 32px;
  font-weight: 600;
  line-height: 1.1;
}

.set-text > p {
  color: rgb(122, 110, 170);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.key-word1 {
  font-family: 'Kanit', sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.1;
  margin-bottom: 1.5rem;
  color: var(--primary-medium-purple);
}

.key-word2 {
  font-family: 'Kanit', sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.1;
  margin-bottom: 1.5rem;
  color: var(--primary-light-blue);
}

.key-word3 {
  font-family: 'Kanit', sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.1;
  margin-bottom: 1.5rem;
  color: var(--primary-pink);
}

/*Divider*/

.divider1 {
  fill: rgb(216, 203, 237);
  background-color: var(--primary-light-white2);
  width: 100%;
}

.divider1 .divider {
  width: 100%;
}

/* Third section Marco P */
.center {
  background-color: var(--primary-light-white2);
}

.third-section {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 3rem 1.5rem;
  z-index: 10;
  -webkit-box-align: center;
  margin-bottom: 150px;
}

.box1-third-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: -100px;
  margin-right: 150px;
  margin-top: 100px;
}

.box1-third-section h2 {
  color: #7645d9;
  font-family: Kanit, sans-serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 1.1;
  margin-bottom: 24px;
}

.box1-third-section span {
  color: #280d5f;
}

.box1-third-section p {
  color: #7a6eaa;
  font-family: Kanit, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 24px;
}

.blue-btn {
  border-radius: 1rem;
  border: 0px;
  font-family: Kanit, sans-serif;
  font-size: 16px;
  font-weight: 600;
  background-color: #1fc7d4;
  color: white;
  box-shadow: rgb(14 14 44 / 40%) 0px -1px 0px 0px inset;
  cursor: pointer;
  letter-spacing: 0.03em;
  line-height: 1;
  opacity: 1;
  padding: 0 24px;
  height: 48px;
  margin-right: 24px;
}

.blue-btn:hover {
  background-color: #1fc7d4;
  opacity: 0.5;
}

.blue-btn:active {
  background-color: #1fc7d4;
  transform: translateY(1px);
  box-shadow: none;
}

.third-section-btn a {
  font-family: Kanit, sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #1fc7d4;
  text-decoration: none;
}

.third-section-btn a:hover {
  text-decoration-line: underline;
}

.box2-third-section {
    display: flex;
    position: relative;
    flex-wrap: wrap;
}

.three-img img {
  position: absolute;
  width: 450px;
  height: 450px;
  top: -150px;
  left: -50px;
}

.token1 {
  width: 100%;
  animation-duration: 2.5s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation: circle 6s linear infinite;
  animation-name: token1;
}

@keyframes token1 {
  100%{
    transform:rotate(0deg) translate(-10px) rotate(0deg);
  }
  
  0%{
    transform:rotate(360deg) translate(-10px) rotate(-360deg);
  }
}

.token2 {
  width: 100%;
  animation-duration: 3.5s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: token2;
}

@keyframes token2 {
  0%,
  100% {
    transform: translate(0px, 0px);
  }

  50% {
    transform: translate(-10px, -10px);
  }
}

.token3 {
  width: 100%;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation: 2s infinite  alternate;
  animation-name: token3;
}

@keyframes token3 {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}

.divider2 {
  background: linear-gradient(111.68deg, rgb(242, 236, 242) 0%, rgb(232, 242, 246) 100%);
  fill: var(--primary-light-white2);
  width: 150%;
  height: 100%;
}

.divider2 .fIBjTm {
  width: 100%;
}

 /* fourth section */
 .center2 {
  background: linear-gradient(111.68deg, rgb(242, 236, 242) 0%, rgb(232, 242, 246) 100%);
}

.fourth-section {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 3rem 1.5rem;
  z-index: 10;
  -webkit-box-align: center;
  margin-bottom: 150px;
}

.box2-fourth-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: -600px;
  margin-left: 150px;
  margin-top: 100px;
}

.box2-fourth-section h2 {
  color: #7645d9;
  font-family: Kanit, sans-serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 1.1;
  margin-bottom: 24px;
}

.box2-fourth-section span {
  color: #280d5f;
}

.fourth-section-btn a {
  font-family: Kanit, sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #1fc7d4;
  text-decoration: none;
}

.fourth-section-btn a:hover {
  text-decoration-line: underline;
}

.box2-fourth-section p {
  color: #7a6eaa;
  font-family: Kanit, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 24px;
}

.folder1 {
  width: 100%;
  animation-duration: 2.5s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: folder1;
}

@keyframes folder1 {
  0%,
  100% {
    transform: translate(0px, 0px);
  }

  50% {
    transform: translate(-10px, -10px);
  }
}

.folder2 {
  width: 100%;
  animation-duration: 3.5s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: folder2;
}

@keyframes folder2 {
  0%,
  100% {
    transform: translate(0px, 0px);
  }

  50% {
    transform: translate(-15px, -15px);
  }
}

.folder3 {
  width: 100%;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation: 1.5s infinite  alternate;
  animation-name: folder3;
}

@keyframes folder3 {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}

.three-img2 img {
  position: absolute;
  width: 450px;
  height: 450px;
  top: -150px;
  left: -400px
}
/* panda */

.p-lilla{
  font-family: sans-serif;
  font-size: 16px;
  color: rgb(122, 110, 170);
}
.win-viola {
  color: blueviolet;
}
.main-part3 {
  display: grid;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 157, 255, 0.5), white);
  width: 100%;
  height: 100vh;
}
.contariner-grigio{
  display: grid;
  background-color: burlywood;
  width: 75vw;
  height: 80vh;
  background: rgba(255, 255, 255, 0.6);
  padding: 16px;
  border: 1px solid rgb(231, 227, 235);
  box-sizing: border-box;
  backdrop-filter: blur(12px);
  border-radius: 72px;
}
.scritte-in-box{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.carte-in-box{
  display: flex;
  justify-content: center;
}
.yellow {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* align-items: center; */
  background-color: rgb(255, 200, 55);
  border-radius: 20px;
  margin: 0 35px;
  /* height: 370px; */
  /* width: 300px; */
  height: 55vh;
  width: 22vw;
  transform: rotate(-4deg);
  box-shadow: 0 -5px inset rgb(207 116 12 / 50%);
}
.purple {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* align-items: center; */
  background-color: rgb(60, 23, 134);
  border-radius: 20px;
  /* height: 370px; 55 */
  /* width: 300px;  22 */
  height: 55vh;
  width: 22vw;
  transform: rotate(2deg);
  box-shadow: 0px -5px inset rgb(28 10 131 / 50%);
}
.h3-prediction{
  position: relative;
  left: 15px;
  padding-bottom: 8px;
  color: #280D5F;
  font-size: 20px;
  margin-top: 28px;
}
.h2-prediction{
  display: flex;
  justify-content: center;
  color: #280D5F;
  font-size: 40px;
}
.p-prediction{
  position: relative;
  left: 15px;
  padding-bottom: 8px;
  width: 80%;
  color: #280D5F;
  font-size: 16px;
}
.button-in-yellow {
  width: 100%;
  display: flex;
  justify-content: center;
}
.button-in-yellow:hover{
  opacity: 50%;
}
.icona-sfera1{
  position: absolute;
  top: 24px;
  right: 24px;
  transform: rotate(-2.4deg);
}
.bottone-in-carta{
  -webkit-box-align: center;
  align-items: center;
  border: 0px;
  border-radius: 16px;
  box-shadow: rgb(14 14 44 / 40%) 0px -1px 0px 0px inset;
  cursor: pointer;
  display: inline-flex;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  -webkit-box-pack: center;
  justify-content: center;
  letter-spacing: 0.03em;
  line-height: 1;
  opacity: 1;
  outline: 0px;
  transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
  height: 48px;
  padding: 0px 24px;
  background-color: rgb(31, 199, 212);
  color: white;
  width: 80%;
}
.icona-ticket1{
  position: absolute;
  top: 24px;
  right: 24px;
  transform: rotate(1.43deg);
  /* da risolvere colore icona */
}
.h3-lotteria{
  position: relative;
  left: 15px;
  padding-bottom: 8px;
  color: white;
  font-size: 20px;
  margin-top: 30px;
}
.p-lotteria{
  color: white;
  position: relative;
  left: 15px;
  padding-bottom: 8px;
  width: 80%;
  font-size: 16px;
}
.h2-lotteria{
  display: flex;
  justify-content: center;
  color: rgb(255, 216, 0);
  font-size: 40px;
}
/* inizio sezione 4 sito pancake */

.main-part4{
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: rgb(250, 249, 250);
  height: 100vh;
  width: 100vw;
}
.section-big{
  /* background-color: rgba(172, 255, 47, 0.459); */
  height: 80vh;
  width: 60vw;
}
.section-box1-2{
  display: flex;
  /* background-color: rgba(255, 105, 180, 0.728); */
  height: 80%;
  width: 100%;
}
.box3-lungo{
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* background-color: rgba(128, 173, 240, 0.753); */
  height: 110px;
}
.box1-scritte{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 75%;
  height: 100%;
  /* background-color: lightgreen; */
}
.box2-img picture{
  position: absolute;
  width: 300px;
  height: 300px;
  /* background-color: lightskyblue; */
}
.box2-img picture img {
  width: 400px;
  height: 400px;
}
.box-button-scritta{
  display: flex;
}
.dBYNDA {
  -webkit-box-align: center;
  align-items: center;
  border: 0px;
  border-radius: 16px;
  box-shadow: rgb(14 14 44 / 40%) 0px -1px 0px 0px inset;
  cursor: pointer;
  display: inline-flex;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  -webkit-box-pack: center;
  justify-content: center;
  letter-spacing: 0.03em;
  line-height: 1;
  opacity: 1;
  outline: 0px;
  transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
  height: 48px;
  padding: 0px 24px;
  background-color: rgb(31, 199, 212);
  color: white;
  margin-right: 16px;
  margin-left: 10px;
}
.coin-img-sez4{
  height: 85% ;
  width: 100%;
}
.h2-cake1{
  color:rgb(40, 13, 95) ;
  font-family: sans-serif;
  font-size: 40px;
  /* padding-top: 40px; */
  padding-left: 5px;
  padding-right: 5px;
}
.p-lilla1{
  font-family: sans-serif;
  font-size: 16px;
  color: rgb(122, 110, 170);
  padding-left: 5px;
  padding-right: 5px;
  /* padding-top: 10px; */
}
.a-azzurro{
  text-decoration: none;
  align-self: center;
  font-family: sans-serif;
  font-size: 16px;
  color: rgb(31, 199, 212) ;
  font-weight: bold;
}
.a-azzurro:hover{
 text-decoration-line: underline;
}
.bottom-right{
    /* width: 100%; */
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: bottom-right;
  }
  
  @keyframes bottom-right {
    0%,
    100% {
      transform: translate(5px, 10px);
    }
  
    50% {
      transform: translate(-20px, -10px);
   }
}
  
.top-left{
   /* width: 100%; */
   animation-duration: 4s;
   animation-timing-function: ease-in-out;
   animation-delay: 0s;
   animation-iteration-count: infinite;
   animation-direction: normal;
   animation-fill-mode: none;
   animation-play-state: running;
   animation-name: top-left;
 }
 
 @keyframes top-left {
   0%,
   100% {
     transform: translate(0px, 0px);
   }
 
   50% {
     transform: translate(-5px, -5px);
  }

}
.top-right{
 /* width: 100%; */
 animation-duration: 3.5s;
 animation-timing-function: ease-in-out;
 animation-delay: 0s;
 animation-iteration-count: infinite;
 animation-direction: normal;
 animation-fill-mode: none;
 animation-play-state: running;
 animation-name: top-right;
}

@keyframes top-right {
 0%,
 100% {
   transform: translate(0px, 0px);
 }

 50% {
   transform: translate(-5px, -5px);
}
}
.coin-center {
   /* width: 100%; */
   animation-duration: 3s;
   animation-timing-function: ease-in-out;
   animation-delay: 0s;
   animation-iteration-count: infinite;
   animation-direction: normal;
   animation-fill-mode: none;
   animation-play-state: running;
   animation-name: coin-center;
 }
 
 @keyframes coin-center {
   0%,
   100% {
     transform: translate(0px, 5px);
   }
 
   50% {
     transform: translate(-5px, -10px);
  }

}
.sc-bdnxRM{
  fill: white;
}
.eVBpMC{
  fill: black;
}
 /* TEST FONT  
@font-face {
  font-family:kanit ;
  src: url(https://fonts.gstatic.com/s/kanit/v11/nKKU-Go6G5tXcr5KPxWnVaFrNlJz.woff2);
  src: url(https://fonts.gstatic.com/s/kanit/v11/nKKU-Go6G5tXcr5KPxWpVaFrNlJzIu4.woff2);
  src: url(https://fonts.gstatic.com/s/kanit/v11/nKKU-Go6G5tXcr5KPyWj.woff);
  src: url(https://fonts.gstatic.com/s/kanit/v11/nKKZ-Go6G5tXcraVGwCKd6xB.woff2);
} */