<!-- <div class="container">
    <label id="switch" class="switch">
            <input type="checkbox" id="slider">
            <span class="slider round"></span>
        </label>
    <button id="switch" onclick="toggleTheme()">Switch</button>
  </div> -->

  <label class="switch">
    <input type="checkbox">
            <span class="slider round">
                <span class="pancake"></span>
                <span class="pancake"></span>
                <span class="pancake"></span>
                <span class="butter"></span>
            </span>
    </label>