<div class="nav-2">
    <div class="test-center">
        <a href="" class="nft-overview" id="selected-one">
            <b>Farms</b>
        </a>
    </div>

    <div class="test-center" >
        <a href="pancake-nft-collection.html" class="nft-collections">
            <b>Pools</b>
        </a>
    </div>
</div>

<div class="banner-collections">
   <h1 class="nft-coll-h1">
       Farms
   </h1>
   <p class="nft-coll-p">Stake LP tokens to earn.</p>
   <a href="#" class="nft-coll-a">Community Auctions <svg viewBox="0 0 24 24" color="invertedContrast" width="20px" xmlns="http://www.w3.org/2000/svg" class="sc-bdnxRM cetRDm"><path d="M5 13H16.17L11.29 17.88C10.9 18.27 10.9 18.91 11.29 19.3C11.68 19.69 12.31 19.69 12.7 19.3L19.29 12.71C19.68 12.32 19.68 11.69 19.29 11.3L12.71 4.7C12.32 4.31 11.69 4.31 11.3 4.7C10.91 5.09 10.91 5.72 11.3 6.11L16.17 11H5C4.45 11 4 11.45 4 12C4 12.55 4.45 13 5 13Z"></path></svg></a>
</div>

<main>
<div class="tabella-nft-coll" >
            <!-- per risolvere lo spazion dare border-spacing:0px  -->
            <!-- per fare il contorno tabella fare div sotto  -->
            <!-- gare hover grassetto su sezione cliccata -->
    <div class="img-container">
        <img class="bunny" src="https://pancakeswap.finance/images/tokens/0x0E09FaBB73Bd3Ade0a17ECC321fD13a19e81cE82.svg" alt="poopies">
        <img class="coin" src="https://pancakeswap.finance/images/tokens/0xbb4CdB9CBd36B01bD1cBaEBF2De08d9173bc095c.svg" alt="poopies">  
        <span>CAKE-BNB</span>
    </div>

    <div class="right-table">
        <p>VOLUME <br> 30.000,00</p> <!-- <div class="coin-1" ></div> -->
        <p class="par-center">ITEMS <br> 18645</p>
        <p>SUPPLY <br> 446000</p>
    </div>

    <hr>

    <div class="img-container">
        <img class="bunny" src="https://pancakeswap.finance/images/tokens/0xe9e7CEA3DedcA5984780Bafc599bD69ADd087D56.svg" alt="poopies">
        <img class="coin" src="https://pancakeswap.finance/images/tokens/0xbb4CdB9CBd36B01bD1cBaEBF2De08d9173bc095c.svg" alt="poopies"> 
        <span>BUSD-BNB</span>
    </div>
    <div class="right-table">
        <p>VOLUME <br> 30.000,00</p> <!-- <div class="coin-1" ></div> -->
        <p class="par-center">ITEMS <br> 18645</p>
        <p>SUPPLY <br> 446000</p>
    </div>

    <hr>

    <div class="img-container">
        <img class="bunny" src="https://pancakeswap.finance/images/tokens/0xFa40d8FC324bcdD6Bbae0e086De886c571C225d4.svg" alt="poopies">
        <img class="coin" src="https://pancakeswap.finance/images/tokens/0xbb4CdB9CBd36B01bD1cBaEBF2De08d9173bc095c.svg" alt="poopies"> 
        <span>WZRD-BUSD</span>
    </div>
    <div class="right-table">
        <p>VOLUME <br> 30.000,00</p> <!-- <div class="coin-1" ></div> -->
        <p class="par-center">ITEMS <br> 18645</p>
        <p>SUPPLY <br> 446000</p>
    </div>

    <hr>

    <div class="img-container">
        <img class="bunny" src="https://pancakeswap.finance/images/tokens/0xF5d8A096CcCb31b9D7bcE5afE812BE23e3D4690d.svg" alt="poopies">
        <img class="coin" src="https://pancakeswap.finance/images/tokens/0xbb4CdB9CBd36B01bD1cBaEBF2De08d9173bc095c.svg" alt="poopies"> 
        <span>HAPPY-BNB</span>
    </div>
    <div class="right-table">
        <p>VOLUME <br> 30.000,00</p> <!-- <div class="coin-1" ></div> -->
        <p class="par-center">ITEMS <br> 18645</p>
        <p>SUPPLY <br> 446000</p>
    </div>

    <hr>

    <div class="img-container">
        <img class="bunny" src="https://pancakeswap.finance/images/tokens/0x4FA7163E153419E0E1064e418dd7A99314Ed27b6.svg" alt="poopies">
        <img class="coin" src="https://pancakeswap.finance/images/tokens/0xbb4CdB9CBd36B01bD1cBaEBF2De08d9173bc095c.svg" alt="poopies"> 
        <span>HOTCROSS-BNB</span>
    </div>
    <div class="right-table">
        <p>VOLUME <br> 30.000,00</p> <!-- <div class="coin-1" ></div> -->
        <p class="par-center">ITEMS <br> 18645</p>
        <p>SUPPLY <br> 446000</p>
    </div>
</div>
</main>