*{
    font-family: kanit, sans-serif;
    text-decoration: none;
}
.nav-2{
    /* background-color: rgb(163, 216, 163); */
    display: flex;
    justify-content: center;
    /* width:100%; */
    max-width: 1440px;
    height:42px;   
}
.nft-overview{
    margin: 0;
    /* height: 100%; */
    padding-right: 10px;
    font-size: 16px;
    color: rgb(122, 110, 170);
}
.nft-collections{
    margin: 0;
    /* height: 100%; */
    padding-right: 10px;
    font-size: 16px;
    color: rgb(122, 110, 170);
   
}
.test-center{
    display: flex;
    height: 100%;
    flex-flow: column;
    justify-content: center;
}
.nft-activity{
    margin: 0;
    /* height: 100%; */
    padding-right: 10px;
    font-size: 16px;
    color: rgb(122, 110, 170);
    /* border-bottom: solid 4px rgb(0, 94, 255); */
    /* border-radius: 4px; */
    padding-left: 3px;
}
#selected-one{
    border-bottom: solid 4px #1fc7d4;
}
.banner-collections{
    display: flex;
    align-items: center;
    max-width: 1440px;
    /* width: 100%; */
    height: 134.39px;
    background: linear-gradient(139.73deg, rgba(141, 240, 249 , 0.5),rgba(243, 239, 255,100%));
}
.nft-coll-h1{
    font-size: 48px;
    color:rgb(118, 69, 217);
    margin-left: 150px;

}
/* qualche hover  */
.test-center:hover{
    background-color: rgba(126, 125, 122, 0.673);
}
/* stile tabella  */
/* tabella con loghi e coin  */
.tabella-nft-coll{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    /* height: 100%; */
    border: 1px solid rgba(126, 125, 122, 0.4);
    border-radius: 20px;
    margin: 40px 150px;
    padding: 0 40px;
}

th{
    color: rgb(118, 69, 217);
    /* border-radius: 10px; */
}
td{
    color: rgb(81, 46, 150);
    margin-bottom: -1px;
}

th{
    font-size: 12px;
}
 th, td {
    border-bottom: 1px solid rgba(126, 125, 122, 0.4);
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
  }

table{
    width: 100%;
    max-width: 1200px;
    height: 100%;
    padding: 16px;
    /* margin-left: auto;
    margin-right: auto;
    */

} 
/* .logo1{
    width: 48px;
    height: 48px;
    background-color: aqua;
    border-radius: 100%;
} */
span{
    padding-left: 15px;
}
.poopies-img{
    width: 48px;
    height: 48px;
    border-radius: 100%;
}
.toro-img{
    width: 48px;
    height: 48px;
    border-radius: 100%;
}
.catbread-img{
    width: 48px;
    height: 48px;
    border-radius: 100%;
}
.rar3-mush-img{
    width: 48px;
    height: 48px;
    border-radius: 100%;
}
.hi-verse{
    width: 48px;
    height: 48px;
    border-radius: 100%;
}
.orso-cyber{
    width: 48px;
    height: 48px;
    border-radius: 100%;
}
.scimmie-gamer{
    width: 48px;
    height: 48px;
    border-radius: 100%;
}
.gatti-miao{
    width: 48px;
    height: 48px;
    border-radius: 100%; 
}
.monsta-party{
    width: 48px;
    height: 48px;
    border-radius: 100%; 
}
.el-cartel{
    width: 48px;
    height: 48px;
    border-radius: 100%;
}
.pancake-bunnies{
    width: 48px;
    height: 48px;
    border-radius: 100%;
}
.coin-1 {
    width: 20px;
    height: 20px;
    background-color: yellow;
}
.th-flex{
    display: flex;
    align-items: center;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0 40px 0;
}

.arrow1 {
    transform: rotate(180deg);
}

.arrow1,
.arrow2 {
    margin: 0 20px;
}

.pag-text {
    font-family: kanit, sans-serif;
    margin-bottom: 0px;
    color: rgb(40, 13, 95);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}