<body>
    <div class="nav-2">
        <div class="test-center">

            <a href="" class="nft-overview">
                overview
            </a>
        </div>
        <div class="test-center" >

            <a href="pancake-nft-collection.html" class="nft-collections">
                collections
            </a>
        </div>
        <div class="test-center" id="selected-one" >
            <a href="" class="nft-activity">
                activity
            </a>
        </div>
            
    </div>
    <div class="banner-collections">
       <h1 class="nft-coll-h1">
           Activity
       </h1>
    </div>
<main>
    <div class="tabella-nft-coll" >
        <table>
            <thead>
                <tr>
                    <th>COLLECTION</th>
                    <th>VOLUME</th>
                    <th>ITEMS</th>
                    <th>SUPPLY</th>
                </tr>
            </thead>
            <tbody>
                <!-- per risolvere lo spazion dare border-spacing:0px  -->
                <!-- per fare il contorno tabella fare div sotto  -->
                <!-- gare hover grassetto su sezione cliccata -->
                <tr>
                    <td class="th-flex" ><div ><img class="poopies-img" src="https://static-nft.pancakeswap.com/mainnet/0x0a8901b0E25DEb55A87524f0cC164E9644020EBA/pancake-squad-5206-1000.png" alt="poopies"></div><span>Poopies</span></td>
                    <td >30.000,00 <!-- <div class="coin-1" ></div> --></td>
                    <td>18645</td>
                    <td>446000</td>
                </tr>
                <tr>
                    <td class="th-flex" ><div> <img class="toro-img" src="https://static-nft.pancakeswap.com/mainnet/0x57A7c5d10c3F87f5617Ac1C60DA60082E44D539e/dauntless-alpie-1835-1000.png" alt="toro"> </div><span>The bull society</span></td>
                    <td >30.000,00 <!-- <div class="coin-1" ></div> --></td>
                    <td>18645</td>
                    <td>446000</td>
                </tr>
                <tr>
                    <td class="th-flex" ><div> <img src="https://static-nft.pancakeswap.com/mainnet/0xDf7952B35f24aCF7fC0487D01c8d5690a60DBa07/flipsie-easter-21-1000.png" alt="gatto pane" class="catbread-img"> </div><span>Catbread</span></td>
                    <td>30.000,00 <!-- <div class="coin-1" ></div> --></td>
                    <td>18645</td>
                    <td>446000</td>
                </tr>
                <tr>
                    <td class="th-flex" ><div> <img src="https://static-nft.pancakeswap.com/mainnet/0xDf7952B35f24aCF7fC0487D01c8d5690a60DBa07/flipsie-easter-21-1000.png" alt="funghetti" class="rar3-mush-img"></div><span>Rar3 mushrooms</span> </td>
                    <td>30.000,00 <!-- <div class="coin-1" ></div> --></td>
                    <td>18645</td>
                    <td>446000</td>
                </tr>
                <tr>
                    <td class="th-flex" ><div> <img src="https://static-nft.pancakeswap.com/mainnet/0xDf7952B35f24aCF7fC0487D01c8d5690a60DBa07/flipsie-easter-21-1000.png" alt="hifi-verse" class="hi-verse"> </div><span> Into the hi fi verse</span></td>
                    <td>30.000,00 <!-- <div class="coin-1" ></div> --></td>
                    <td>18645</td>
                    <td>446000</td>
                </tr>
                <tr>
                    <td class="th-flex" ><div> <img class="orso-cyber" src="/assets/toro-nft.png" alt="orso cyber"> </div><span>Cyber bearz amry</span> </td>
                    <td>30.000,00 <!-- <div class="coin-1" ></div> --></td>
                    <td>18645</td>
                    <td>446000</td>
                </tr>
                <tr>
                    <td class="th-flex" ><div><img class="scimmie-gamer" src="/assets/gamester-apes.png" alt="scimmie-gamer"></div><span>Gamester apes</span></td>
                    <td >30.000,00 <!-- <div class="coin-1" ></div> --></td>
                    <td>18645</td>
                    <td>446000</td>
                </tr>
                <tr>
                    <td class="th-flex" ><div><img class="gatti-miao" src="/assets/kittens-meow-meow.png" alt="gatti miao"> </div><span>Kittens meow meow </span></td>
                    <td >30.000,00 <!-- <div class="coin-1" ></div> --></td>
                    <td>18645</td>
                    <td>446000</td>
                </tr>
                <tr>
                    <td class="th-flex" ><div><img class="monsta-party" src="/assets/monsta-party.png" alt="festa dei mostri"> </div><span>Monsta party</span> </td>
                    <td >30.000,00 <!-- <div class="coin-1" ></div> --></td>
                    <td>18645</td>
                    <td>446000</td>
                </tr>
                <tr>
                    <td class="th-flex" ><div><img class="el-cartel" src="/assets/carte-punks.png" alt="carte cartel-punks"></div><span>Cartel punks</span> </td>
                    <td >30.000,00 <!-- <div class="coin-1" ></div> --></td>
                    <td>18645</td>
                    <td>446000</td>
                </tr>
                <tr>
                    <td class="th-flex" ><div><img class="pancake-bunnies" src="/assets/pancake-bunnie.png" alt="conigli"></div><span>Pancake Bunnies</span></td>
                    <td >30.000,00 <!-- <div class="coin-1" ></div> --></td>
                    <td>18645</td>
                    <td>446000</td>
                </tr>
            </tbody>
        </table>
    </div>
</main>
</body>
