*{
    font-family: kanit, sans-serif;
    text-decoration: none;
}

.nav-2{
    /* background-color: rgb(163, 216, 163); */
    display: flex;
    justify-content: center;
    /* width:100%; */
    max-width: 1440px;
    height:42px;   
}
.nft-overview{
    margin: 0;
    /* height: 100%; */
    padding-right: 10px;
    font-size: 16px;
    color: rgb(122, 110, 170);
}
.nft-collections{
    margin: 0;
    /* height: 100%; */
    padding-right: 10px;
    font-size: 16px;
    color: rgb(122, 110, 170);
   
}
.test-center{
    display: flex;
    height: 100%;
    flex-flow: column;
    justify-content: center;
}

#selected-one{
    border-bottom: solid 4px #1fc7d4;
}

.banner-collections{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    /* width: 100%; */
    height: 200px;
    background: linear-gradient(139.73deg, rgba(141, 240, 249 , 0.5),rgba(243, 239, 255,100%));
}

.banner-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: -80px;

}

.nft-coll-h1{
    font-size: 48px;
    color:rgb(118, 69, 217);
    margin-left: 150px;
    margin-bottom: 20px;
    font-weight: 550;
}

.nft-coll-p{
    font-size: 24px;
    color: rgb(40, 13, 95);;
    margin-left: 150px;
    font-weight: 550;
}

.search-field {
    background-color: rgb(238, 234, 244);
    border-radius: 16px;
    box-shadow: rgb(74 74 104 / 10%) 0px 2px 2px -1px inset;
    color: rgb(40, 13, 95);
    display: block;
    font-size: 16px;
    height: 40px;
    outline: 0px;
    padding: 0px 16px;
    /* width: 100%; */
    border: 1px solid rgb(215, 202, 236);
    margin-right: 80px;
  }

::placeholder {
    color: rgb(122, 110, 170);
}

.btn-arrow {
    transform: rotate(90deg);
}

.card-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: -80px;
    margin-top: 80px;
    margin-bottom: 20px;
}

.card-text p{
    font-size: 24px;
    color: rgb(40, 13, 95);;
    margin-left: 150px;
    font-weight: 550;
}

.btn3 {
    border-radius: 1rem;
    font-family: 'Kanit', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    opacity: 1;
    color: var(--primary-light-blue);
    background-color: transparent;
    letter-spacing: 0.03em;
    line-height: 1;
    width: 120px;
    height: 30px;
    border: 2px solid var(--primary-light-blue);
    box-shadow: none;
    letter-spacing: 0.03em;
    cursor: pointer;
    margin-right: 80px;
  }
  
  .btn3:hover {
    opacity: 0.65;
  }
  
  .btn3:active {
    transform: translateY(1px);
    box-shadow: none;
    opacity: 0.85;
  }

.cover-img {
    width: 397px;
    height: 150px;
    border-radius: 5px;

}

.card-img{
    width: 90px;
    height: 90px;
    border-radius: 100%;
    border: 4px solid white;
    margin-top: -30px;
} 

.bottom-card {
    display: flex;
    justify-content: space-between;
}

.volume {
    display: flex;
    justify-content: flex-end;
}

.ape{
    color: rgb(40, 13, 95);
    border: 1px solid rgba(90, 90, 90, 0.2);
    padding: 8px 8px;
    border-radius: 8px 8px 8px 70px;
    height: 240px;
}

.card-text1 p {
    font-size: 20px;
    font-weight: 600;
}

.card-text1 {
    display: flex;
    justify-content: flex-end;
}

.volume-text {
    font-size: 12px;
    margin-top: 3px;
}

.money {
    font-size: 16px;
    font-weight: 600;
}

.ksBfvN {
    margin: 0 10px 14px 10px;
}

.w-100 {
    margin: 10px;
}