
<div class="containerFlexPancake">
    <div class="pancake1">
        <div class="pancake-opacity"></div>
        <div class="pancake-top"></div>
        <div class="pancake-bot"></div>  
    </div>

    <div class="mainSet">
        <div class="svgg">
            
        </div>
        <h1>Start in Seconds.</h1> <br>
       <p>Connect your crypto wallet to start using the app in seconds.</p> 
       <p class="bold" > No registration needed. </p>
        <a class="toStart"  href="#" target="_blank" >Learn how to start</a>
        <div class="btn-wallet">
            <button class="wallet-btn" >Connect Wallet</button>
        </div>
    </div>
    <div class="pancake2">
        <div class="cake-top1"></div>
        <div class="cake-op"></div>
        <div class="cake-bot1"></div>
    </div>
</div>