footer {
  background-color: rgb(39, 38, 44);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 56px 10px 32px 10px;
}

.footer_black_main {
  margin-left: 100px;
}

a {
  text-decoration: none;
  color: unset;
}

li>h2{
  color: rgb(154, 106, 255);  
}

li>h3>a:hover{
  text-decoration: underline;   
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

li{
  font-family: sans-serif;
  margin: 0px;
  padding: 0px;  
  cursor: pointer;   
}

li>h1,h2,h3{
  padding: 8px;
  color: white;  
  font-size: 15px;
}

.footer_black_second{
  display: flex;
  flex-direction: row;
   
}

.informazioni,.guida,.sviluppatori,.pancakeswap{
  width: 240px;
  height: 350px;
  margin-right: 70px;    
    
}

.online_shop_{
  color: rgb(255, 178, 55);
}

.pancakeswap:focus,
.kDWlca:focus {
  outline: transparent solid 0;
}

.social-icon {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 20px;
}

.social-icon svg {
  margin-right: 20px;
}

hr {
  background-color: rgb(184, 173, 210);
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.buttons {
  display: flex;
}

.icon-button {
  color: rgb(184, 173, 210);
  font-size: 20px;
}

.icon-button {
  display: flex;
  height: 100%;
  align-items: center;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
  
.icon-button:hover {
  opacity: 0.65;
}

.language {
  position: relative;
  height: 100%;
  padding: 0px 0.5rem;
  margin-right: 0.5rem;
}
  
  .language-selector {
  display: none;
  position: absolute;
  width: max-content;
  max-height: 400px;
  padding: 1rem;
  z-index: 99;
  border-radius: 4px;
  box-shadow: rgb(25 19 38 / 10%) 0px 2px 12px -8px, rgb(25 19 38 / 5%) 0px 1px 1px;
  background-color: white;
  overflow-y: auto;
  transform: translate(-50%, 0px);
  left: 50%;
}

.language:hover 
.language-selector {
  display: block;
}

.lang {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: rgb(40, 13, 95);
  padding: 0px 0.5rem;
  border-radius: 8px;
  width: 100%;
  min-height: 32px;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.03em;
  line-height: 1;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.lang:hover {
  opacity: 0.65;
}

.language-selector button {
  border: none;
}

.header-right-topbar {
  display: flex;
  align-items: center;
  height: 100%;
}

.pancake-logo {
  margin-right: 0.75rem;
  cursor: pointer;
}

.pancake-logo a {
  display: flex;
  align-items: center;
  font-weight: 600;
  color: rgb(184, 173, 210);
}

.pancake-logo svg {
  margin-right: 0.5rem;
  transition: transform 0.3s ease 0s;
}

.pancake-logo:hover svg {
  transform: scale(1.2);
}

.iaPfuZ {
  fill: rgb(184, 173, 210); 
}

/* squashed button */
.button-squashed {
  display: inline-flex;
  align-items: center;
  border-radius: 1rem;
  border: 0px;
  font-size: 16px;
  font-weight: 600;
  background-color: var(--primary-light-blue);
  color: white;
  box-shadow: rgb(14 14 44 / 40%) 0px -1px 0px 0px inset;
  cursor: pointer;
  letter-spacing: 0.03em;
  line-height: 1;
  height: 32px;
  padding: 0px 16px;
  opacity: 1;
}
  
.button-squashed:hover {
  background-color: rgb(31, 199, 212, 0.65);
}
  
.button-squashed:active {
  background-color:  rgb(31, 199, 212, 0.85);
  transform: translateY(1px);
  box-shadow: none;
}

.jKYZif {
  fill: white;
}