<!-- TUTTO QUELLO CHE NON è CORE NE SHARED -->
<!-- test collapse  -->
<app-logos-accordion></app-logos-accordion>

<h1>Brand Colors</h1>
  <div class="car-container">
    <app-carousel></app-carousel>
  </div>

<!--Icons-->
<h2 class="text-center h2 mb-5">Icons</h2>

<div class="car-container">
  <app-icons></app-icons>
</div>



<div class="container p-4">
  <div class="card p-4 shadow border-0">

    <h3 class="h5 mb-3">Colored</h3>
    <div class="row row-cols-auto gy-3 gx-5 mb-5">
      <img src="../../../assets/icons/bunnyquestion.svg" />
      <img src="../../../assets/icons/pancakes.svg" />
    </div>
   
    <h3 class="h5 mb-3">Social networks</h3>
    <div class="row row-cols-auto gy-3 gx-4 mb-5">
      <img src="../../../assets/icons/github.svg" />
      <img src="../../../assets/icons/instagram.svg" />
      <img src="../../../assets/icons/reddit.svg" />
      <img src="../../../assets/icons/telegram.svg" />
      <img src="../../../assets/icons/twitter.svg" />
    </div>
  </div>
</div>


  <!--Logos-->
    
          <!--Logo Desktop-->
      
    
          <!--Logo Mobile-->
          
    
          <!--Logo Footer-->
          
    <!-- test per colori che girano -->
  
    
    <!--Inputs-->
    <div class="container p-4">
      <div class="card p-4 shadow border-0">
        <h2 class="h2 mb-5">Inputs</h2>
        <div class="row row-cols-auto gx-5">
    
          <!--Search Field-->
          <div class="me-4 mb-4">
            <h3 class="h5 mb-3">Search field</h3>
            <div>
              <input class="search-field" type="text" placeholder="Search pools or token" />
            </div>
          </div>
    
          <!--Radio Input-->
          <!-- da fixare l'hover -->
          <div class="me-4 mb-4">
            <h3 class="h5 mb-3">Radio input</h3>
            <div>
              <input id="radio" class="radio-input" type="radio" name="radio" />
              <label for="radio" class="radio-label" value="#">Vote Now</label>
            </div>
          </div>
    
          <!--General Input Field-->
          <div class="me-4 mb-4">
            <h3 class="h5 mb-3">General input field</h3>
            <div>
              <input class="general-field" type="text" pattern="^[0-9]+$" value="123" />
            </div>
          </div>
    
          <!--General Input Field Big-->
          <div class="me-4 mb-4">
            <h3 class="h5 mb-3">General input field big</h3>
            <div>
              <div class="general-field-big-container">
                <input class="general-field-big" type="text" pattern="^[0-9]*[.,]?[0-9]*$" placeholder="0.0" minlength="1"
                  maxlength="79" />
              </div>
            </div>
          </div>
    
        </div>
      </div>
    </div>
    
    <!--Typography-->
    <div class="container p-4">
      <div class="card p-4 shadow border-0">
        <h2 class="h2 mb-5">Typograhy</h2>
        <div class="row row-cols-auto gx-5 mb-4">
    
          <div class="mb-4 me-4 h1" style="line-height: 1;">
            H1<br>Kanit<br>64px
          </div>
    
          <div class="mb-4 me-4 h2" style="line-height: 1;">
            H2<br>Kanit<br>40px
          </div>
    
          <div class="mb-4 me-4 h3" style="line-height: 1;">
            H3<br>Kanit<br>20px
          </div>
    
          <div class="mb-4 me-4 p" style="line-height: 1;">
            Texts<br>Kanit<br>16px
          </div>
    
          <div class="mb-4 me-4 p-small" style="line-height: 1;">
            Small titles<br>Kanit<br>12px
          </div>
    
        </div>
      </div>
    </div>
    
    <!--Button Styles-->
    <div class="container p-4">
      <div class="card p-4 shadow border-0">
        <h2 class="h2 mb-5">Button Styles</h2>
        <div class="row row-cols-auto gx-5 mb-5">
    
          <!--Standard Button-->
          <!-- da fixare l'hover del puntatoregi -->
          <div class="mb-4">
            <h3 class="h5 mb-3">Standard button</h3>
            <div>
              <button class="button-standard">Connect Wallet</button>
            </div>
          </div>
    
          <!--Large Button-->
          <div class="mb-4">
            <h3 class="h5 mb-3">Large button</h3>
            <div>
              <button class="button-large">
                <div>Play</div>
                <img src="../../../assets/icons/arrow-right-white.svg" />
              </button>
            </div>
          </div>
    
          <!--Medium Button-->
          <div class="mb-4">
            <h3 class="h5 mb-3">Medium button</h3>
            <div>
              <button class="button-medium">Trade Now</button>
            </div>
          </div>
    
          <!--Small Button-->
          <div class="mb-4">
            <h3 class="h5 mb-3">Small button</h3>
            <div>
              <button class="button-small">Explore</button>
            </div>
          </div>
    
          <!--Squashed Button-->
          <div class="mb-4">
            <h3 class="h5 mb-3">Squashed button</h3>
            <div>
              <button class="button-squashed">Buy CAKE</button>
            </div>
          </div>
    
        </div>
    
        <div class="row row-cols-auto gx-5 mb-5">
    
          <!--Gear Button-->
          <div class="mb-4">
            <h3 class="h5 mb-3">Gear button</h3>
            <div>
              <button class="button-gear"><img src="../../../assets/icons/gear-lightpurple.svg"></button>
            </div>
          </div>
    
          <!--Language Button-->
          <div class="mb-4">
            <h3 class="h5 mb-3">Language button</h3>
            <div>
              <button class="button-language"><img src="../../../assets/icons/language-light-purple.svg"></button>
            </div>
          </div>
    
        </div>
    
      </div>
    </div>
    
  
