<!-- TUTTO QUELLO CHE NON è CORE NE SHARED -->

<!-- Accordion loghi -->
<app-logos-accordion></app-logos-accordion>

<br>
<br>
<br>

<!-- Accordion bottoni -->
<div class="test-bottoni">
  <app-collapse-for-buttons></app-collapse-for-buttons>
</div>

<br>
<br>
<br>

<!-- carousel colors -->
<h1>Brand Colors</h1>
  <div class="car-container">
    <app-carousel></app-carousel>
  </div>

<!--Icons-->
<h2 class="text-center h2 mb-5">Icons</h2>
<div class="car-container">
  <app-icons></app-icons>
</div>
   
 
